*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CED0E0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

nav {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #eef5ff;
    overflow: hidden;
    align-items: center;
    padding: 0px; /* Add padding for spacing */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
}

nav a {
    display: block;
    color: #a25772;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #bccce8;
    color: #a25772;
}

nav a.active {
    background-color: #dde7f9;
    color: #a25772;
}

nav img {
    height: 70px;
    width: 70px;
    margin-left: 10px;
}
nav a.Login {
    margin-left: auto;
    margin-right: 10px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: fit-content;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .responsive-container-block.bigContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
  }
  
  .text-blk.headingText {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    color: #a25772;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 50%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .text-blk.subHeadingText {
    color: rgb(102, 102, 102);
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .text-blk.description {
    font-size: 18px;
    line-height: 28px;
    color: rgb(153, 153, 153);
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  
  .explore {
    font-size: 18px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    background-color: #a25772;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #a25772;
    border-right-color: #a25772;
    border-bottom-color: #a25772;
    border-left-color: #a25772;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
    box-shadow: rgba(210, 140, 170, 0.25) 0px 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 9px;
    padding-right: 45px;
    padding-bottom: 9px;
    padding-left: 45px;
  }
  
  .explore:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 235, 234);
    color: #a25772;
  }
  
  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .responsive-container-block.Container.bottomContainer {
    flex-direction: row;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  .allText.aboveText {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
  }
  
  .allText.bottomText {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  .mainVideo {
    width: 85%;
    height: 450px;
    margin-top: -30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .videoContainer {
    width: 46%;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  
  .mainVideo {
    z-index: 10;
  }
  
  .dotsImg {
    position: absolute;
    width: 80%;
    height: 600px;
    top: 0px;
    right: 0px;
    object-fit: cover;
  }
  
/* Adjust styles for small screens */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: row; /* Change flex-direction to row */
        justify-content: space-between; /* Add space between items */
        align-items: center;
        padding: 10px; /* Adjust padding for spacing */
    }

    nav a {
        display: block;
        text-align: center;
        padding: 10px; /* Adjust padding for spacing */
        font-size: 14px;
    }

    nav a.Login {
        margin-top: 0; /* Remove margin-top for login link */
        margin-left: auto; /* Move login link to the right */
    }

    nav img {
        height: 30px;
        width: 30px;
        margin: 0;
    }

    nav a:hover {
        background-color: #bccce8;
        color: #a25772;
    }

    nav a.active {
        background-color: #dde7f9;
        color: #a25772;
    }
}
