* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CED0E0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    position: relative;
}
nav {
    position: relative;
    top: 0;
    width: 100%;
    background-color: #eef5ff;
    overflow: hidden;
    align-items: center;
    padding: 0px; /* Add padding for spacing */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
}

nav a {
    display: block;
    color: #a25772;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #bccce8;
    color: #a25772;
}

nav a.active {
    background-color: #dde7f9;
    color: #a25772;
}

nav img {
    height: 70px;
    width: 70px;
    margin-left: 10px;
}
nav a.Login {
    margin-left: auto;
    margin-right: 10px;
}

.translucent-box {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha (4th value) for transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a box shadow for better visibility */
    position: absolute; /* Change position to absolute */
    top: 50%; /* Adjust top position as needed */
    left: 50%; /* Adjust left position as needed */
    transform: translate(-50%, -50%); /* Center the box */
    z-index: 1001; /* Set a higher z-index */
  }


/* Adjust styles for small screens */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: row; /* Change flex-direction to row */
        align-items: center;
        padding: 10px; /* Adjust padding for spacing */
    }

    nav a {
        display: block;
        text-align: center;
        padding: 10px; /* Adjust padding for spacing */
        font-size: 14px;
    }

    nav a.Login {
        margin-top: 0; /* Remove margin-top for login link */
        margin-left: auto; /* Move login link to the right */
    }

    nav img {
        height: 30px;
        width: 30px;
        margin: 0;
    }

    nav a:hover {
        background-color: #bccce8;
        color: #a25772;
    }

    nav a.active {
        background-color: #dde7f9;
        color: #a25772;
    }
}
